<section id="slider"><!--slider-->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#slider-carousel" data-slide-to="1"></li>
                        <li data-target="#slider-carousel" data-slide-to="2"></li>
                    </ol>
                    
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="col-sm-6">
                                <h1><span>CURRY </span>5</h1>
                                <p>Thế hệ thứ 5 trong bộ sưu tập Signature Shoes của Stephen Curry - 3 chức vô địch, 2 MVP giải NBA. </p>
                                <a href="/product?id=1" class="btn btn-default see-now"><i class="fa fa-tag"></i>Xem ngay</a>
                            </div>
                            <div class="col-sm-6">
                                <img src="images/home/curry5.jpeg" class="img-responsive" alt="" />
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-sm-6">
                                <h1><span>VAPOR </span>12 NEYMAR</h1>
                                <p>Signature Boots mà Neymar Jr. sẽ sử dụng vào mùa giải 2018-2019. </p>
                                <a href="/product?id=3" class="btn btn-default see-now"><i class="fa fa-tag"></i>Xem ngay</a>
                            </div>
                            <div class="col-sm-6">
                                <img src="images/home/shhh.jpg" class="img-responsive" alt="" />
                            </div>
                        </div>
                        
                        <div class="item">
                            <div class="col-sm-6">
                                <h1><span>LEBRON </span>11</h1>
                                <p>Trang bị các công nghệ hiện đại tối tân, được số lượng lớn người dùng đón nhận đặc biệt là những nơi có nhiều sân bóng ngoài trời như khu vực châu Á.</p>
                                <a href="/product?id=2" class="btn btn-default see-now"><i class="fa fa-tag"></i>Xem ngay</a>
                            </div>
                            <div class="col-sm-6">
                                <img src="images/home/lebron-ambassador-11.jpg" class="img-responsive" alt="" />
                            </div>
                        </div>
                        
                    </div>
                    
                    <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
                
            </div>
        </div>
    </div>
</section><!--/slider-->