<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="css/log-reg.css" />
    <title>Đăng nhập</title>
</head>
<body>
    <div class="log-reg-page">
        <div class="form">
          <form class="login-form  action="" method="POST">
            <input type="text" name="username" placeholder="Tên tài khoản" autocomplete="off">
            <input type="password" name="password" placeholder="Mật khẩu" autocomplete="off">
            <button >Đăng nhập</button>
            <% if(message.length>0){
              %> <p class="failure-flash"><%=message%></p><%
            } %>
            <p class="message">Chưa đăng ký? <a href="#">Tạo tài khoản</a></p>
          </form>
        </div>
      </div>
</body>
</html>